  <appSettings>
    <add key="ida:AppID" value="088163e9-7405-40aa-84f2-fa0db457b7de"/>
    <add key="ida:AppSecret" value="jBV8Q~aKCehTBQ4ofBjJEcE4lA3C-JsVxVMNEcy3"/>
    <add key="ida:RedirectUri" value="https://localhost:44329"/>
    <add key="ida:AppScopes" value="User.Read email openid offline_access profile"/>
  </appSettings>


